{
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "it": true,
    "xit": true,
    "expect": true,
    "jest": true,
    "afterEach": true,
    "Audio": true
  },
  "rules": {
    "function-paren-newline": [
      "error",
      "consistent"
    ]
  }
}