.button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.2s ease;
}

.primary {
  background: none;
  color: #fff;
}

.primary:hover {
  background: #b71c1c;
}